.Header {
    position: fixed;
    width: 100%;
    padding: 50px 0;
    z-index: 900;
    min-height: 800px;
}

.HeaderGroup {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;
}

.Header a {
 color: black;
    font-weight: 700;
}

.Header button {
    padding: 8px 20px;
    font-size: 20px;
    background: #56CCF2;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header button:hover {
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
    transform: translateY(-3px) rotateY(20deg);
}
#rectangle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    background-color: white;
    width: 100%;
    height: 71px;
}
#topWave {
    position: absolute;
    transform: rotateX(180deg);
    top: 70px;
    left: 0;
    z-index: -100;

}
@media (max-width: 640px) {
    .Header {
        padding: 15px 0;
    }

    .HeaderGroup {
        grid-template-columns: repeat( 4, auto);
    }

    .Header a:nth-child(4) {
        display: none;
    }
}