body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,  Ubuntu, Cantarell, 'Open Sans', "Helvetica Neue", sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}
a {
  color: #5334F5;
  text-decoration: none;
  font-weight: 600;
}

.Hero {
  background: url("../images/photo-of-person-cutting-bell-peppers-3621212.jpg") center;
  height: 1520px;
  background-size: cover;
  position: relative;
}

.HeroGroup {
  margin: 0 auto;
  max-width: 600px;
  padding: 150px 50px;
  text-align: center;

}

.pitchFoody , .mockUpFoody{
  margin-top: 80px;
}

.Hero .Logo, .ContainerLogos{
  margin-top: 100px;
  color: white;
  font-size: 60px;
  line-height: 1;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);

}

.Hero p {
  color: rgba(255,255,255, 0.8);
  font-size: 30px;
  line-height: 1.5;
  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}

.Hero a {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: rgba(0,0,0,0.7);
  padding: 9px 20px;
  border: 1px solid rgba(255,255,255, 0.25);
  border-radius: 20px;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);

}

.Hero a:hover {
  background: white;
  color:black;
}

@media (max-width: 640px) {
  .HeroGroup {
    padding: 100px 20px;
  }

  .Hero h1 h3 {
    font-size: 40px ;
  }

  .Hero p {
    font-size: 24px;
  }
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.Hero svg{
  position: absolute;
  bottom: 0;
  left: 0;
}

.Hero .Logos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 40px;
  margin: 100px 0;
  justify-items: center;
}

@media (max-width: 640px) {
  .Hero .Logos {
    grid-template-columns: repeat(3, 1fr);  }
}